<a class="card-link" href="<%= card.link %>">
  <div class="card w-52 h-52 shadow-xl justify-end bg-no-repeat bg-center bg-cover overflow-hidden" style="background-image: url('<%= card.image %>');">
    <div class="flex justify-center glass py-2">
      <h2 class="card-title text-2xl"><%= card.title %></h2>
    </div>
  </div>
</a>