<form class="card-body">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Name</span>
    </label>
    <input type="name" placeholder="John Doe" class="input input-bordered" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input type="email" placeholder="john@doe.com" class="input input-bordered" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input type="password" placeholder="password" class="input input-bordered" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Retype the password</span>
    </label>
    <input type="password" placeholder="password" class="input input-bordered" required />
  </div>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Register</button>
    <label class="label">
      <p>Already have an account? Login <a href="/login"class="label-text-alt link link-primary text-base">here</a>!</p>
    </label>
  </div>
</form>