<div class="mgbox">
  <div class="mgline teaser-17655059 type-w"
    data-i="u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**"
    data-observing-start="1702215712182" data-observing-time="1055" data-showed="1">
    <div class="image-with-text">
      <div class="mcimg"><a target="_blank"
          href="https://clck.mgid.com/ghits/17655059/i/57771940/0/pp/1/10?h=u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*&amp;k=1439966fc*f!fY1TziX-fY1TzoVTffMjky*Dc2f!f%24ff*ffMjg4*DE2N%244xNDA2MjU%3DffffQf%3AfaHR0cHM6Ly81MzM2MWZhYmViM2FlZjQ4NjdmYzBiYWQyNzkwOTE2Mi5zYWZlZnJhbWUuZ29vZ2xlc3luZGljYXRpb24uY29tL3NhZmVmcmFtZ%248xLTAtNDAvaHRtbC9jb250YWluZXIuaHRtbA%3D%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3Df*fMjky*Dc2*DE1MHwyff%2Bf%3BfcfMTY1*DI4OHw2*DE%3DfVQfMAfY1Tzn0Wf!fTW96aWxsY%2481LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChL%24FRNTCwgbGlrZ%24BHZWNrbykgQ2hyb21lLzEyMC4wLjAuMCBTYWZhcmkvNTM3LjM2IEVkZy8xMjAuMC4wLjA%3DfUERGVmlld2Vy*ENocm9tZVBERlZpZXdlcnxDaHJvbWl1bVBERlZpZXdlcnxNaWNyb3NvZnRFZGdlUERGVmlld2Vy*FdlYktpdGJ1aWx0LWluUERGfCfV2luMzI%3DfNDIwfMXw2MA%3D%3DfMTM2MHw3MjA%3DfdW5rbm93bnw0Z3wwf!f!fQfb.UN4*f*f*(Wmn2-%3A&amp;crst=1702215713&amp;wrst=1702215713&amp;muid=mbfzW7wHbbLb"
          data-hash="u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**"
          rel="sponsored nofollow noopener">
          <div class="image-container"><img class="mcimg" width="492" height="277" data-i="17655059"
              data-src="https://s-img.mgid.com/g/17655059/492x277/-/aHR0cDovL2NsLmltZ2hvc3RzLmNvbS9pbWdoL2ltYWdlL2ZldGNoL2FyXzE2OjksY19maWxsLGVfc2hhcnBlbjoxMDAsZl9qcGcsZ19mYWNlczphdXRvLHFfYXV0bzpnb29kLHdfMTAyMC9odHRwOi8vaW1naG9zdHMuY29tL3QvMjAyMy0xMS8xMDE5MjQvOTcwZDgzODFmYjJhMmFjM2FhYjhkNTRhZTI5MmRmYjUucG5n.webp?v=1702215711-khLdp4OmzKOfpsje3-uwRT6KEorK5bbpWP90Fwj25d4"
              nopin="nopin" crossorigin=""
              src="https://s-img.mgid.com/g/17655059/492x277/-/aHR0cDovL2NsLmltZ2hvc3RzLmNvbS9pbWdoL2ltYWdlL2ZldGNoL2FyXzE2OjksY19maWxsLGVfc2hhcnBlbjoxMDAsZl9qcGcsZ19mYWNlczphdXRvLHFfYXV0bzpnb29kLHdfMTAyMC9odHRwOi8vaW1naG9zdHMuY29tL3QvMjAyMy0xMS8xMDE5MjQvOTcwZDgzODFmYjJhMmFjM2FhYjhkNTRhZTI5MmRmYjUucG5n.webp?v=1702215711-khLdp4OmzKOfpsje3-uwRT6KEorK5bbpWP90Fwj25d4"
              alt=""></div>
        </a><!--intExchangeWagesImagePlace--></div>
      <div class="text-elements">
        <div class="text_on_hover">
          <div class="mctitle"><a target="_blank"
              href="https://clck.mgid.com/ghits/17655059/i/57771940/0/pp/1/10?h=u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*"
              data-hash="u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**"
              rel="sponsored nofollow noopener">8 Celeb Cheating Scandals We Never Expected To Be True</a> </div>
          <div class="mcdesc"><a target="_blank"
              href="https://clck.mgid.com/ghits/17655059/i/57771940/0/pp/1/10?h=u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*"
              data-hash="u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**"
              rel="sponsored nofollow noopener"></a></div>
          <div class="mcdomain"><a target="_blank"
              href="https://clck.mgid.com/ghits/17655059/i/57771940/0/pp/1/10?h=u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*"
              data-hash="u7g1PedpHHf8PdEH-oN9IInuRN09MJ7NsEx4-qKwq0NHNWAeFBZY9U7yo11JJFQTrxeMP7iCTJlfK6UIV_6gSA**"
              rel="sponsored nofollow noopener">Brainberries</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mgline teaser-17965335 type-w"
    data-i="u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**"
    data-observing-start="1702215712281" data-observing-time="1553" data-showed="1">
    <div class="image-with-text">
      <div class="mcimg"><a target="_blank"
          href="https://clck.mgid.com/ghits/17965335/i/57771940/0/pp/2/10?h=u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*&amp;k=1439966fc*f!fY1TziX-fY1TzpgDffMjc0*DI5Mw%3D%3Df!f%24ffX%2BffMjg4*DE2M%2443ODEyNQ%3D%3DffffQf%3AfaHR0cHM6Ly81MzM2MWZhYmViM2FlZjQ4NjdmYzBiYWQyNzkwOTE2Mi5zYWZlZnJhbWUuZ29vZ2xlc3luZGljYXRpb24uY29tL3NhZmVmcmFtZ%248xLTAtNDAvaHRtbC9jb250YWluZXIuaHRtbA%3D%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3Df*fMjc0*DI5M3wxNTB8MTg5ff%2Bf%3BfcfMTYx*DI4OHw2*DE4OQ%3D%3DfVQfMAfY1Tzn0Wf!fTW96aWxsY%2481LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChL%24FRNTCwgbGlrZ%24BHZWNrbykgQ2hyb21lLzEyMC4wLjAuMCBTYWZhcmkvNTM3LjM2IEVkZy8xMjAuMC4wLjA%3DfUERGVmlld2Vy*ENocm9tZVBERlZpZXdlcnxDaHJvbWl1bVBERlZpZXdlcnxNaWNyb3NvZnRFZGdlUERGVmlld2Vy*FdlYktpdGJ1aWx0LWluUERGfCfV2luMzI%3DfNDIwfMXw2MA%3D%3DfMTM2MHw3MjA%3DfdW5rbm93bnw0Z3wwf!f!fQfuMOZ%3Bf*f*(MAN4r%24&amp;crst=1702215715&amp;wrst=1702215718&amp;muid=mbfzW7wHbbLb"
          data-hash="u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**"
          rel="sponsored nofollow noopener">
          <div class="image-container"><video autoplay="" loop="" muted="" webkit-playsinline="" playsinline=""
              class="mcvideo played" width="492" height="277" data-i="17965335"
              data-src="https://cl.imghosts.com/imgh/video/upload/ar_16:9,c_fill,w_680/videos/t/2023-12/687640/dd6d88daa5411f42ce7a820235a3246d.mp4?v=1702215711-ZA8CxBMrTpY3PEGbqTH6-H9UALOVWIqmtVq6Uk4wXzA"
              src="https://cl.imghosts.com/imgh/video/upload/ar_16:9,c_fill,w_680/videos/t/2023-12/687640/dd6d88daa5411f42ce7a820235a3246d.mp4?v=1702215711-ZA8CxBMrTpY3PEGbqTH6-H9UALOVWIqmtVq6Uk4wXzA"></video>
          </div>
        </a><!--intExchangeWagesImagePlace--></div>
      <div class="text-elements">
        <div class="text_on_hover">
          <div class="mctitle"><a target="_blank"
              href="https://clck.mgid.com/ghits/17965335/i/57771940/0/pp/2/10?h=u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*&amp;k=1439966fc*f!fY1TziX-fY1TzqhGffMjc5*DMzMg%3D%3Df!fSffo*ffMjYzLjQ4NDM3NXwzNQ%3D%3DffffQf%3AfaHR0cHM6Ly81MzM2MWZhYmViM2FlZjQ4NjdmYzBiYWQyNzkwOTE2Mi5zYWZlZnJhbWUuZ29vZ2xlc3luZGljYXRpb24uY29tL3NhZmVmcmFtZ%248xLTAtNDAvaHRtbC9jb250YWluZXIuaHRtbA%3D%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3DfaHR0cHM6Ly93d3cua29tcGFzLmNvb%248%3Df*fMjc5*DMzMnwxOHwzMjE%3Dff%2Bf%3BfcfMzV8MjYz*DE4*DMyMQ%3D%3DfVQfMAfY1Tzn0Wf!fTW96aWxsY%2481LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChL%24FRNTCwgbGlrZ%24BHZWNrbykgQ2hyb21lLzEyMC4wLjAuMCBTYWZhcmkvNTM3LjM2IEVkZy8xMjAuMC4wLjA%3DfUERGVmlld2Vy*ENocm9tZVBERlZpZXdlcnxDaHJvbWl1bVBERlZpZXdlcnxNaWNyb3NvZnRFZGdlUERGVmlld2Vy*FdlYktpdGJ1aWx0LWluUERGfCfV2luMzI%3DfNDIwfMXw2MA%3D%3DfMTM2MHw3MjA%3DfdW5rbm93bnw0Z3wwf!f!fQfuMOZ%3Bf*f*(UVz6L*&amp;crst=1702215715&amp;wrst=1702215718&amp;muid=mbfzW7wHbbLb"
              data-hash="u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**"
              rel="sponsored nofollow noopener">Fight In State Of Survival! Play For Free Now!</a> </div>
          <div class="mcdesc"><a target="_blank"
              href="https://clck.mgid.com/ghits/17965335/i/57771940/0/pp/2/10?h=u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*"
              data-hash="u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**"
              rel="sponsored nofollow noopener"></a></div>
          <div class="mcdomain"><a target="_blank"
              href="https://clck.mgid.com/ghits/17965335/i/57771940/0/pp/2/10?h=u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**&amp;rid=df7adc6e-9761-11ee-871c-c84bd683e9ba&amp;ts=kompas.com&amp;tt=Referral&amp;att=4&amp;cpm=1&amp;abd=1&amp;iv=11&amp;ct=1&amp;gdprApplies=0&amp;st=420&amp;mp4=1&amp;h2=OgOnqxylxNLE5p1eRoDP9UoWWJ8g5pYEIKVb7zrD1T0*"
              data-hash="u7g1PedpHHf8PdEH-oN9ILEq1RNdYf7O7ViXzn7nr5USmjSQ_oJW169ua9DjwDHpx5nFgRlYtOLbw7b99bZ3kA**"
              rel="sponsored nofollow noopener">State Of Survival</a></div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .mghead {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      text-align: left;
      font-family: Verdana, sans-serif;
      color: #4555a7;
      display: block;
      margin: 5px 0 0px 5px;
      float: left;
    }

    .mgheader {
      display: table !Important;
      width: 100% !important;
      margin-bottom: 0px;
    }

    div.mg_addad1439966 {
      text-align: right;
      opacity: 0.5;
      margin-right: 10px;
      display: inline-block;
      float: right;
    }

    div.mg_addad1439966:hover {
      opacity: 1
    }

    div.mg_addad1439966 a {
      color: #000000;
      font: normal 10px Myriad Pro;
      text-decoration: none;
    }

    div.mg_addad1439966 img {
      margin: 0px -5px 0px 0px;
      border: 0px;
      float: none;
      padding: 0px;
    }

    div.mg_addad1439966 object a {
      height: 26px;
      display: flex;
      align-items: center;
      position: static !important;
      margin: 0 !important;
    }
  </style>
</div>