<!DOCTYPE html>
<html lang="en" data-theme="lifeplan">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

  <%- include('../../partials/header-login.ejs', {user: user}) %>

  <main>
    <div class="hero min-h-[calc(100vh-4rem)] bg-gradient-to-r from-primary to-secondary">
      <div class="hero-overlay opacity-25 bg-center bg-cover bg-fixed" style="background-image: url(/images/planning-bg.png);"></div>
      <div class="hero-content flex-row px-12 py-16">
        <div class="card shrink-0 shadow-2xl bg-white">
          <div class="card-body py-6">
            <h2 class="text-2xl text-center col-span-2">Plan History</h2>
            <div class="flex">
              <ul class="menu w-80">
                <li>
                  <h2 class="menu-title">27 November 2023</h2>
                  <ul>
                    <li><a>Fill internship form</a></li>
                    <li><a>Research for thesis</a></li>
                  </ul>
                </li>
                <li>
                  <h2 class="menu-title">26 November 2023</h2>
                  <ul>
                    <li><a>Buy grocery</a></li>
                  </ul>
                </li>
                <li>
                  <h2 class="menu-title">25 November 2023</h2>
                  <ul>
                    <li><a>Make Life Plan website</a></li>
                    <li><a>Make a reservation for karaoke date</a></li>
                    <li><a>Wash Oyen and Cimi</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <%- include('../../partials/footer.ejs') %>
  </footer>
</body>
</html>