<!DOCTYPE html>
<html lang="en" data-theme="lifeplan">
<head>
  <%- include('../../partials/head'); %>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar')
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        contentHeight: 'auto',
        
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },

        events: parsed_plans
      })
      calendar.render()
    })

    var parsed_plans = JSON.parse('<%- JSON.stringify(plans) %>')
  </script>
</head>
<body>
  <%- include('../../partials/header-login.ejs', {user: user}) %>

  <main>
    <div class="hero min-h-[calc(100vh-4rem)] bg-gradient-to-r from-primary to-secondary">
      <div class="hero-overlay opacity-10 bg-no-repeat bg-center bg-cover" style="background-image: url(/images/dashboard-bg.png);"></div>
      <div class="hero-content justify-center py-6 px-24">
        <div id="calendar" class="w-full"></div>
      </div>
    </div>
  </main>
  
  <footer>
    <%- include('../../partials/footer.ejs') %>
  </footer>
</body>
</html>